button{
    height: 47px;
    width: 80%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    background-color:hsl(75, 94%, 57%); 
    color: black;
}